body {
	min-height: 100vh;
	background-color: #1e5799;
	background: linear-gradient(#1e5799, #7db9e8);
}

.scroll-50vh {
	height: 50vh;
	overflow-y: auto;
}
.scroll-70vh {
	height: 70vh;
	overflow-y: auto;
}

.spn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

.clickable-th {
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hoverDarken:hover {
	filter: brightness(85%);
}

.card {
	box-shadow: 0 0 16px #1e5799;
}

.zoom {
	animation: zoom 0.2s ease-out;
}

@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.loader {
	border: 2px solid #f3f3f3;
	border-top: 2px solid #1e5799;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 0.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fadein {
	-webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 0.7s; /* Firefox < 16 */
	-ms-animation: fadein 0.7s; /* Internet Explorer */
	-o-animation: fadein 0.7s; /* Opera < 12.1 */
	animation: fadein 0.7s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
